<ion-header class="poke-header">
  <ion-toolbar>
    <div class="poke-toolbar-container">
      <div class="poke-toolbar-left">
        <ion-back-button defaultHref="/home" class="poke-back-button"></ion-back-button>
        <span class="poke-list">{{ pokemon?.name | titlecase }}</span>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pokemon" class="poke-content ion-padding">
  <ion-card class="poke-details-card poke-details-card-type-{{ pokemon.types[0]?.type.name }}">
    <div class="pokemon-image-wrapper">
      <ion-img
        class="pokemon-img"
        [src]="pokemon.sprites.other['official-artwork'].front_default"
      ></ion-img>
    </div>

    <div>
      <ion-card-title class="ion-text-center poke-name">
        #{{ pokemon.id }} - {{ pokemon.name | titlecase }}
      </ion-card-title>

      <ion-card-content class="info-content">
        <p class="pokedex-entry" *ngIf="description">
          <ion-icon name="book-outline"></ion-icon>
          <em>{{ description }}</em>
        </p>

        <div class="info-row"><strong>Altura:</strong> {{ pokemon.height / 10 }} m</div>
        <div class="info-row"><strong>Peso:</strong> {{ pokemon.weight / 10 }} kg</div>

        <div class="info-row">
          <strong>Tipos:</strong>
          <ion-chip *ngFor="let type of pokemon.types" class="info-chip poke-chip-type {{type.type.name}}">
            {{ type.type.name | titlecase }}
          </ion-chip>
        </div>

        <div class="info-row">
          <strong>Habilidades:</strong>
          <ion-chip *ngFor="let ability of pokemon.abilities" class="info-chip poke-chip-ability">
            {{ ability.ability.name | titlecase }}
          </ion-chip>
        </div>

        <div class="info-row"><strong>Experiência base:</strong> {{ pokemon.base_experience }}</div>
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>
