<ion-header class="poke-header">
  <ion-toolbar>
    <ion-title>Lista de Pokémons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="poke-content">
  <ion-button
    routerLink="/favorites"
    expand="block"
    class="poke-button">
    Pokémons Capturados
  </ion-button>

  <ion-searchbar
    placeholder="Buscar Pokémon (nome ou ID)"
    (ionInput)="searchPokemon($event)"
    debounce="500"
  ></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="3" *ngFor="let p of displayedPokemons">
        <ion-card class="poke-card">
          <ion-img [src]="p.sprites?.front_default"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-text-center poke-name">
              {{ p.name | titlecase }}
            </ion-card-title>
            <ion-button
              fill="clear"
              style="position: absolute; top: 0; right: 0;"
              (click)="toggleFavorite(p.name); $event.stopPropagation()"
              aria-label="Favoritar Pokémon"
            >
              <ion-icon
                [name]="isFavorite(p.name) ? 'heart' : 'heart-outline'"
                color="danger"
              ></ion-icon>
            </ion-button>
          </ion-card-header>

          <ion-button expand="block" (click)="goToDetails(p.name)" class="poke-details-button">
            Ver detalhes
          </ion-button>
        </ion-card>
      </ion-col>

      <ion-col size="12" *ngIf="displayedPokemons.length === 0 && searchTerm !== ''">
        <p class="ion-text-center">Pokémon não encontrado. 😢<br> Busque pelo nome exato do Pokémon ou tente procurar por outro termo.</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer class="ion-padding" *ngIf="!isSearchingSpecificPokemon">
    <ion-button expand="block" (click)="prevPage()" [disabled]="offset === 0" class="poke-button">
      Anterior
    </ion-button>
    <ion-button expand="block" (click)="nextPage()" class="poke-button">
      Próximo
    </ion-button>
  </ion-footer>
</ion-content>
