<ion-header class="poke-header">
  <ion-toolbar>
    <div class="poke-toolbar-container">
      <div class="poke-toolbar-left">
        <img src="assets/img/pokeball.png" alt="Pokébola" class="poke-logo" />
        <span class="poke-title poke-list">LISTA DE POKEMONS</span>
      </div>

      <div class="poke-toolbar-right">
        <ion-searchbar
          placeholder="Buscar Pokémon"
          (ionInput)="searchPokemon($event)"
          debounce="500"
          class="poke-searchbar"
        ></ion-searchbar>
        <div class="poke-yellow-dot"></div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="poke-content">
  <div class="poke-chip-container">
    <a [routerLink]="['/home']" routerLinkActive="active-chip" class="poke-chip" [routerLinkActiveOptions]="{ exact: true }">
      Todos
    </a>
    <a [routerLink]="['/favorites']" routerLinkActive="active-chip" class="poke-chip">
      Pokémons Capturados
    </a>
    <a [routerLink]="['/trainer-area']" routerLinkActive="active-chip" class="poke-chip">
      Área do Treinador
    </a>
  </div>

  <div class="type-filter-container-minimal">
    <ion-item class="type-filter-item-minimal">
      <ion-select interface="popover" placeholder="Todos os Tipos" [(ngModel)]="selectedType" (ionChange)="onTypeChange($event)">
        <ion-select-option value="all">Todos os Tipos</ion-select-option>
        <ion-select-option *ngFor="let type of allTypes" [value]="type.name">
          {{ type.name | titlecase }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div *ngIf="isLoadingPokemons" class="loading-spinner">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Carregando Pokémon...</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="3" *ngFor="let p of displayedPokemons">
        <ion-card class="poke-card poke-card-type-{{ p.types?.[0]?.type?.name }}">
          <ion-img [src]="p.sprites?.front_default"></ion-img>
          <ion-card-header>
            <div class="poke-title-wrapper">
              <div class="poke-id">#{{ p.id }}</div>
              <div class="poke-name">{{ p.name | titlecase }}</div>
            </div>
            <ion-button
              fill="clear"
              style="position: absolute; top: 0; right: 0;"
              (click)="toggleFavorite(p.name); $event.stopPropagation()"
              aria-label="Favoritar Pokémon"
            >
              <ion-icon
                [name]="isFavorite(p.name) ? 'heart' : 'heart-outline'"
                color="danger"
              ></ion-icon>
            </ion-button>
          </ion-card-header>

          <ion-button expand="block" (click)="goToDetails(p.name)" class="poke-details-button">
            Ver detalhes
          </ion-button>
        </ion-card>
      </ion-col>

      <ion-col size="12" *ngIf="!isLoadingPokemons && displayedPokemons.length === 0 && (searchTerm !== '' || selectedType !== 'all')">
        <p class="ion-text-center error-search">
          Pokémon não encontrado. 😢<br> Busque pelo nome exato do Pokémon, ID ou tente procurar por outro termo.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer class="ion-padding" *ngIf="!isSearchingSpecificPokemon && !isLoadingPokemons">
    <ion-button expand="block" (click)="prevPage()" [disabled]="!canGoPrev" class="poke-button">
      Anterior
    </ion-button>
    <ion-button expand="block" (click)="nextPage()" [disabled]="!canGoNext" class="poke-button">
      Próximo
    </ion-button>
  </ion-footer>
</ion-content>
